# Postgres
POSTGRES_DB=coworking
POSTGRES_USER=cw_user
POSTGRES_PASSWORD=cw_strong_password

# Redis
# REDIS_PASSWORD=redis_pass

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=yourmail@gmail.com
SMTP_PASSWORD=app-password-here
SMTP_FROM_EMAIL=yourmail@gmail.com
SMTP_FROM_NAME=Coworking

# Squidex Secrets
SQUIDEX_MAIN_DEFAULT_SECRET=secret-from-squidex
SQUIDEX_MAIN_FRONTEND_SECRET=secret-from-squidex
SQUIDEX_BLOG_DEFAULT_SECRET=secret-from-squidex